summary {
	cursor: pointer;
}
#file-editor-form {
    padding-top: 100px;
}
@media screen and (min-width:644px){
    #file-editor-form {
        padding-top: 50px;
    }
}
@media screen and (min-width:992px){
    #file-editor-form {
        padding-top: 0px;
    }
}
.module-editor-nav-container {
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 999;
}
.module-editor-nav {
    float: left;
    padding: 10px;
    background: var(--background-color-highlight-soft);
    border-radius: 7px;
    width: 300px;
    margin: 0px 10px 10px;
}
.module-editor-nav details {
    padding: 0 0 0 5px;
    margin: 0px 0px 10px;
}
details.module-editor-nav summary {
    display: list-item;
    line-height: 2;
}
details.module-editor-nav > summary {
    padding: 10px;
}
.module-editor-nav details summary {
    margin: 10px 0;
}
details.module-editor-nav p {
    padding-left: 10px;
    margin: 10px 0;
}
.module-editor-nav-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    box-shadow: inset -5px 5px 20px -4px var(--default);
    padding: 0 0 0 10px;
}
details.module-editor-nav {
    padding: 0;
}